* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #B91450;
    font-family: Arial, Helvetica, sans-serif;
}

h1:first-child{
    margin-top: 15px;
}

h1 {
    text-align: center;
    color: white;
 }

.container {
    max-width: 80%;
    margin: auto;
    background-color: white;
}

.container:last-child {
    border-radius: 10px;
}

.form-input {
    margin: 20px;
}

.form-input, .info-biglietto-aperto {
    padding: 25px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

th, td {
    padding: 20px;
}

.biglietto {
    display: none;
}

.biglietto.biglietto-aperto {
    display: block;
}

.biglietto.biglietto-chiuso {
    display: none;
}